[options]
admin_password = {{ odoo_admin_password }}
db_host = postgres
db_port = 5432
db_user = {{ odoo_user_db }}
db_password = {{ odoo_password_db }}
db_name = {{ odoo_default_db }}
logfile = /var/log/odoo/odoo-server.log